body{
    background-color: rgb(177, 120, 14);
}

h1 { 
    background-color: rgb(36, 238, 127);
    height: 70px;
    margin: 0 auto;
    text-align: center;
}

h2 { 
    background-color: rgb(36, 238, 127);
    height: 70px;
    margin: 0 auto;
    text-align: center;
}